:root{
	--title-color:#A61C3C;
	--text-color:#694A38;
	--background-color:#DAD6D6;
}

body{
    background-color:var(--background-color);
    color:var(--text-color);
    font-family: 'Architects Daughter',cursive;
}
#l-name{
    color: var(--title-color);
    width: 100%;
    text-align: center;
    text-shadow: 0px 0px 5px rgba(150, 150, 150, 1);
}
#game{
    border:solid thick;
}
#game-div{
    float: left;
    width: 60%;
}
#hiscore-div{
    float: left;
    width: 20%;
}
#timer-div{
    float: left;
    width: 20%;
}
footer{
    position: fixed;
    bottom: 0;
}
.container{
	text-align:center;
}
.control-button {
	background-color:var(--title-color);
	border:2px solid var(--text-color);
	display:inline-block;
	cursor:pointer;
	color:var(--background-color);
	font-size:15px;
	font-weight:bold;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #7a2a1d;
}

.control-button:hover {
	border:1px dotted var(--text-color);
}

.control-button:active {
	position:relative;
	top:1px;
}

#game-control{
	width:100%;
	border: 2px dotted var(--text-color);
}
										




@media screen and (orientation:portrait){
	#game-div{
		width:100%;
	}
	#hiscore-div,#timer-div{
		visibility:hidden;
	}
}
