body{
    background-image: url('https://image.freepik.com/free-photo/white-concrete-wall_53876-92803.jpg');
    background-attachment: fixed;
}
.baslik{
    font-family: 'Architects Daughter',cursive;
}
#l-name{
    color: teal;
    width: 100%;
    text-align: center;
}
#game{
    border:solid thick;
    width:60%;
}
#game-div{
    float: left;
    width: 60%;
}
#hiscore-div{
    float: left;
    width: 20%;
}
#timer-div{
    float: left;
    width: 20%;
}
footer{
    position: fixed;
    bottom: 0;
}
.container{
	text-align:center;
}
@media screen and (orientation:portrait){
	#game{
		width:100%;
	}
	#hiscore-div,#timer-div{
		visibility:hidden;
	}
}
